<header class="header">
  <nav class="nav">
    <a routerLink="/" class="list-options-link">
      <h1 class="list-options-link__title">getonboard</h1>
    </a>
    <ul class="list">
      <li class="list__item"><a href="#">Inicio</a></li>
      <li class="list__item"><a href="#">Acerca</a></li>
      <li class="list__item"><a href="#">Contacto</a></li>
    </ul>
    <ul class="button-list">
      <li class="button-list__item"><a href="#">Contacto</a></li>
      <li class="button-list__item">
        <a href="#" class="boton">
          <span class="boton__texto">Registrarse</span>
          <i class="boton__icono fas fa-arrow-right"></i>
        </a>
      </li>
      <li class="button-list__item">
        <a href="#" class="boton">
          <span class="boton__texto">Ingresar</span>
          <i class="boton__icono fas fa-arrow-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>

