<header class="header">
  <input class="side-menu" type="checkbox" id="side-menu"/>
  <label class="hamb" for="side-menu">
    <span class="hamb-line"></span>
  </label>

  <nav class="nav">
    <a routerLink="/" class="list-options-link">
      <h1 class="list-options-link__title">getonboard</h1>
    </a>
    <ul class="list">
      <li class="list__item">
        <a [routerLink]="['/']" routerLinkActive="router-link-active">Inicio</a>
      </li>
      <li class="list__item">
        <a [routerLink]="['/jobs']" routerLinkActive="router-link-active"
          >Trabajos</a
        >
      </li>
      <li class="list__item">
        <a
          [routerLink]="['/favorites']"
          routerLinkActive="router-link-active"
          *ngIf="isAuthenticated$ | async"
          >Favoritos</a
        >
      </li>
    </ul>
    <ul class="button-list">
      <li
        class="button-list__item"
        matTooltip="Ingrese al sistema"
        *ngIf="!(isAuthenticated$ | async)"
      >
        <a (click)="showLoginDialog()" class="boton">
          <mat-icon class="sign-in-button">person</mat-icon>
          <!-- <img
            class="sign-in-button button"
            src="./../../../assets/images/icons/sign-in.svg"
            alt="Inicio de Sesión"
          /> -->
        </a>
      </li>

      <li
        class="button-list__item"
        matTooltip="Registre un usuario"
        *ngIf="!(isAuthenticated$ | async)"
      >
        <a (click)="showRegisterDialog()" class="boton">
          <mat-icon class="sign-up-button">person_add</mat-icon>
          <!-- <img
            class="sign-up-button button"
            src="./../../../assets/images/icons/sign-up.svg"
            alt="Registro"
          /> -->
        </a>
      </li>

      <li
        class="user-list button-list__item"
        *ngIf="isAuthenticated$ | async"
      >
        <span class="username-field">{{userName}}</span>
        <a (click)="logout()" class="boton">
          <mat-icon matTooltip="Cerrar sessión de usuario" class="sign-up-button">logout</mat-icon>
          <!-- <img
            class="sign-up-button button"
            src="./../../../assets/images/icons/logout.svg"
            alt="Salir del sistema"
          /> -->
        </a>
      </li>
    </ul>
  </nav>

</header>
