<header class="header">
  <nav class="nav">
    <a routerLink="/" class="list-options-link">
      <h1 class="list-options-link__title">getonboard</h1>
    </a>
    <ul class="list">
      <li class="list__item"><a href="#">Inicio</a></li>
      <li class="list__item"><a href="#">Acerca</a></li>
      <li class="list__item"><a href="#">Contacto</a></li>
    </ul>
    <ul class="button-list">
      <li class="button-list__item">
        <a href="#" class="boton">
          <img
            class="sign-in-button button"
            src="./../../../assets/images/icons/sign-in.svg"
            alt="Inicio de Sesión"
          />
        </a>
      </li>
      <li class="button-list__item">
        <a href="#" class="boton">
          <img
            class="sign-up-button button"
            src="./../../../assets/images/icons/sign-up.svg"
            alt="Registro"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>
