@import "abstracts/colors/colors.scss";

.header {
  background-color: $c4;
  height: 7rem;
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.list {
  display: none;
}

.button-list {
  display: none;
}

.list__item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.button-list__item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-options-link {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &__title {
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    margin: 0;
    color: $c8;
    font-size: 4rem;
    font-weight: 600;
  }
}

.button {
  width: 5.5rem;
}

.search-bar {
  display: none;
}

@media (min-width: 418px) {
  .header {
    background-color: $c4;
    height: 7rem;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }


  .list {
    display: none;
  }

  .button-list {
    order: 2;
    display: flex;
    align-items: center;
    list-style: none;
    width: 31.8562rem;
  }

  .list__item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .button-list__item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .list-options-link {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &__title {
      font-family: Comfortaa, Arial, Helvetica, sans-serif;
      margin: 0;
      color: $c8;
      font-size: 4rem;
      font-weight: 600;
    }
  }

  .button {
    width: 5.5rem;
  }
}

@media (min-width: 741px) {
  .header {
    background-color: $c4;
    height: 7rem;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }


  .list {
    display: none;
  }

  .button-list {
    order: 2;
    display: flex;
    align-items: center;
    list-style: none;
    width: 31.8562rem;
  }

  .list__item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .button-list__item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .list-options-link {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &__title {
      font-family: Comfortaa, Arial, Helvetica, sans-serif;
      margin: 0;
      color: $c8;
      font-size: 4rem;
      font-weight: 600;
    }
  }

  .button {
    width: 5.5rem;
  }

  .search-bar {
    display: block;
    height: 4rem;
    border-radius: 10rem;
    border: solid .2rem;
    padding-left: 1.5rem;
    background: url("./../../../assets/images/icons/search-button.svg") 15.5rem no-repeat;
  }
}

@media (min-width: 1137px) {
  .header {
    background-color: $c4;
    height: 7rem;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }


  .list {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 2.3rem;
  }

  .button-list {
    order: 2;
    display: flex;
    align-items: center;
    list-style: none;
    width: 31.8562rem;
  }

  .list__item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .button-list__item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .list-options-link {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &__title {
      font-family: Comfortaa, Arial, Helvetica, sans-serif;
      margin: 0;
      color: $c8;
      font-size: 4rem;
      font-weight: 600;
    }
  }

  .button {
    width: 5.5rem;
  }

  .search-bar {
    height: 4rem;
    border-radius: 10rem;
    border: solid .2rem;
    padding-left: 1.5rem;
    background: url("./../../../assets/images/icons/search-button.svg") 15.5rem no-repeat;
  }
}

@font-face {
  font-family: Comfortaa;
  src: url('./../../../assets/fonts/comfortaa/Comfortaa-Regular.ttf');
}
