<h1 mat-dialog-title>Ingrese a su cuenta</h1>
<div mat-dialog-content>
  <form [formGroup]="loginForm" #loginNgForm="ngForm" (keyup.enter)="login()">
    <div
      class="form__error"
      *ngIf="loginForm.controls['email'].errors?.['email']"
    >
      Digite un correo válido.
    </div>
    <label for="email"><b>Correo</b></label>
    <input
      class="form__input"
      type="email"
      formControlName="email"
      placeholder="Ingrese el email"
      name="email"
    />

    <div
      class="form__error"
      *ngIf="loginForm.controls['password'].errors?.['minlength']"
    >
      La contraseña debe tener al menos 8 caracteres.
    </div>
    <label for="password"><b>Contraseña</b></label>
    <input
      class="form__input"
      type="password"
      formControlName="password"
      placeholder="Ingresa la contraseña"
      name="password"
    />
  </form>
</div>
<div mat-dialog-actions align="center">
  <button
    [ngClass]="{ invalid: loginForm.invalid }"
    class="form__button"
    type="button"
    (click)="login()"
    [disabled]="loginForm.invalid || loginForm.disabled"
  >
    Ingresar
  </button>
</div>
