<h1 mat-dialog-title>Ingrese a su cuenta</h1>
<div mat-dialog-content>
  <form [formGroup]="loginForm" #loginNgForm="ngForm">
    <label for="email"><b>Correo</b></label>
    <input
      class="form__input"
      type="email"
      formControlName="email"
      placeholder="Ingrese el email"
      name="email"
    />

    <label for="password"><b>Contraseña</b></label>
    <input
      class="form__input"
      type="password"
      formControlName="password"
      placeholder="Ingresa la contraseña"
      name="password"
    />
  </form>
</div>
<div mat-dialog-actions align="center">
  <button
    [ngClass]="{ invalid: loginForm.invalid }"
    class="form__button"
    type="button"
    (click)="login()"
    [disabled]="loginForm.invalid"
  >
    Ingresar
  </button>
</div>
