@import "abstracts/colors/colors.scss";
@import "abstracts/mixins/mixin.scss";
@import "base/base.scss";

.form {
  display: flex;
  gap: 10px;
  justify-content: end;
  &__input {
    outline: none;
    height: 26px;
    padding: 5px 15px;
    @include border-radius(6px);
    border: 0;
  }
}
