@import "abstracts/colors/colors.scss";
@import "abstracts/mixins/mixin.scss";
@import "abstracts/silents/silents.scss";
@import "abstracts/responsive/mediaqueries.scss";
@import "base/base.scss";

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  &__input {
    @extend %input-custom;
    &--company {
      margin-bottom: 15px;
      width: 236px;
    }
    &--category {
      width: 236px;
    }
  }
  @include brp(750) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.form-search {
  position: relative;
  width: 236px;
  &__input {
    @extend %input-custom;
    width: 100%;
    padding: 15px 35px 15px 15px;
  }
  &__icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    // top: 50%;
    transform: translateY(50%);
    left: unset;
    right: 12px;
  }
}

.form-autocomplete {
  margin: 0 0 0 auto;
  display: flex;
  gap: 10px;
  @include brp(750) {
    margin: 0;
  }
  @include brp(423) {
    display: block;
    text-align: center;
  }
}
