<form class="form" [formGroup]="filtersFrom">
  <div class="form-search">
    <input
      type="text"
      placeholder="Buscar trabajo..."
      class="form-search__input"
      formControlName="searchValue"
    />
    <input
      class="form-search__icon"
      type="image"
      src="./../../../assets/images/icons/worksearch-icon.svg"
      alt="Search jobs"
      (click)="onSearchClick()"
    />
    <!-- <mat-icon class="form-search__icon">mode_edit</mat-icon> -->
  </div>
  <div class="form-autocomplete">
    <input
      type="text"
      class="form__input form__input--company"
      placeholder="Compañía"
      aria-label="Number"
      formControlName="company"
      autocomplete="off"
      [matAutocomplete]="company"
    />
    <mat-autocomplete #company="matAutocomplete" (optionSelected)="onSelectCompany()"  [displayWith]="inputCompFormatter">
      <mat-option
        *ngFor="let option of tempCompanies"
        [value]="option"
      >
        {{ option.attributes.name }}
      </mat-option>
    </mat-autocomplete>
    <input
      type="text"
      class="form__input form__input--category"
      placeholder="Categoría"
      aria-label="Number"
      formControlName="category"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectCategory()"  [displayWith]="inputFormatter">
      <mat-option
        *ngFor="let option of tempCategories"
        [value]="option"
      >
        {{ option.attributes.name }}
      </mat-option>
    </mat-autocomplete>
  </div>
</form>
