$c0: transparent;
$c1: #ffffff;
$c2: #000;
$c3: #dcdcdc;
$c4: #d3d3d3;
$c5: #c9c9c9;
$c6: #00001a;
$c7: #0c0c22;
$c8: #1a1a33;
$c9: #21213b;
$c10: #32314e;
$c11: #212121;
$c12: #1E1E1E;

$r1: rgba($c2, 0.45);
