@import "abstracts/colors/colors.scss";
@import "abstracts/mixins/mixin.scss";
@import "base/base.scss";
.container {
  min-height: calc(100vh - 7rem - 10rem);
  background-image: url(./../assets/images/backgrounds/landbackground.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.container-data {
  padding: szrem(15) szrem(5);
  @include size-content();
}
