@import "abstracts/colors/colors.scss";
@import "abstracts/mixins/mixin.scss";
@import "base/base.scss";
.container {
  min-height: calc(100vh - 7rem - 7rem);
  background-color: $c4;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.container-data {
  padding: szrem(15) szrem(5);
  @include size-content();
}
