@import "abstracts/colors/colors.scss";
@import "abstracts/mixins/mixin.scss";
@import "abstracts/silents/silents.scss";
@import "base/base.scss";

.confirmation-dialog {
  &__button {
    margin-top: 5px;
    background-color: $c10;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: $c3;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
}
