@import "abstracts/colors/colors.scss";
@import "abstracts/mixins/mixin.scss";
@import "abstracts/responsive/mediaqueries.scss";

.container {
  display: block;

  &__image{
    width: 350px;
    height: 300px;
    display:block;
    margin:auto;
    border-radius: 10px;
  }

  &__title{
    margin-top: 5rem;
    text-align: center;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -5px;
    color: $c8;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;

    @include brp_min(530){
      padding: 2rem;
    font-size: 6rem;
    text-align: center;
    line-height: 6rem;
    letter-spacing: -5px;
    color: $c8;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    }

    @include brp_min(650)
    {
      padding-top: 5rem;
    font-size: 8rem;
    text-align: center;
    line-height: 8rem;
    letter-spacing: -5px;
    color: $c8;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    }

    @include brp_min(1200)
    {
      padding-top: 5rem;
      font-size: 9rem;
      text-align: center;
      line-height: 8rem;
      letter-spacing: -5px;
      color: $c8;
      font-family: Comfortaa, Arial, Helvetica, sans-serif;
    }

  }
  &__subtitle{
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
    letter-spacing: 1px;
    color: $c8;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;

    @include brp_min(530)
    {
      padding: 5rem;
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    letter-spacing: .3rem;
    color: $c8;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    }

    @include brp_min(650)
    {
      padding-top: 5rem;
    font-size: 4rem;
    text-align: center;
    line-height: 4rem;
    letter-spacing: .5rem;
    color: $c8;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    }

    @include brp_min(1200)
    {
      padding-top: 5rem;
      font-size: 5rem;
      text-align: center;
      line-height: 5rem;
      letter-spacing: 0.7rem;
      color: $c8;
      font-family: Comfortaa, Arial, Helvetica, sans-serif;
    }
  }

  @include brp (530)
  {
    display: block;
  }

}


@font-face {
  font-family: Comfortaa;
  src: url("./../../../assets/fonts/comfortaa/Comfortaa-Regular.ttf");
}
